{% extends 'base.html'%}


 {% block content %}


 <header class="bg-dark py-2">
    <div class="container px-2 px-lg-3 my-3">
        <div class="text-center text-white">
            <h2 class="display-4 fw-bolder">Know more about us</h2>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="clo-8">

              <div class="mx-4 my-4"><h2 class="fw-bolder text-red">MISSION STATEMENT</h2></div>
                <p align="justify">
            Gem Online Academic Store is the number one academic community that believes learning
 is lifelong and life changing. We inspire intellectual curiosity, cultural engagement, professional preparedness, spiritual
  exploration, and a commitment to contributing to the common good in a global society. </p><br>

       <h2 class="fw-bolder">VISION STATEMENT</h2>
<p align="justify">
    Gem Online Academic Store will be distinguished as a compassionate and inclusive online market for students of all levels. 
We educate and inspire through our core values of Freedom, Education, Charity, and Justice. Together we thrive through our
 Catholic, BVM, and liberal arts traditions, graduating leaders who make a positive difference in the world. </p><br>

       <h2 class="fw-bolder">GEM ONLINE ACADEMIC STORE VALUES STATEMENT</h2>
<p align="justify">
    Gem Online Academic Store is an Academic Store that lives by four core values: Freedom, Education, Charity, and Justice.
 These values emanate from our founder Gbenga Dennis and those who follow
  their example to provide learning experiences that are relevant and forward looking. <br>
                </p>
            </div>
        </center>
    </div>
</div>
<br><br><br>
<br><br>

 {% endblock %}